---
layout: page
title: About
permalink: about
---
<div lang="en">
    <p id="abouten" >
        This website is the result of the digital edition project of the text
        <i>Relacion de un Viaje al Río de la Plata</i> in Acarete du Biscay.
        Editing was done by <b>The Voyagers!</b> during the course
        <a href="https://mith.umd.edu/minimaldigipub/en.html" target="_blank">Digital Publishing with Minimal Computing</a>,
        organized by the University of Maryland (USA) and the University of Salvador (Argentina) between September and December 2020.
    </p>
    <p> In addition, you will be able to find information about the <a href="/the-voyagers-project/team">members of the project</a> 
        and about how we work as a team on the edition (<a href="/the-voyagers-project/teamcharter">charter</a>).
    </p>
</div>

<div lang="es">
    <h1>Acerca de</h1>
    <p id="aboutes">
        Este sitio web es el resultado del proyecto de la edición digital del texto
        <i>Relación de un viaje al Río de la Plata</i> de Acarete du Biscay.
        Este trabajo fue realizado por el equipo <b>The Voyagers!</b> durante el curso
        <a href="https://mith.umd.edu/minimaldigipub/en.html" target="_blank">Ediciones Digitales con Minimal Computing</a>,
        organizado por la University of Maryland (EEUU) y la Universidad del Salvador (Argentina) entre septiembre y diciembre de 2020.
    </p>
    <p>
        Además, podrás encontrar información sobre los <a href="/the-voyagers-project/team">miembros del proyecto</a>  
        y sobre cómo trabajamos en equipo en la edición (<a href="/the-voyagers-project/teamcharter">charter</a>).
    </p>
</div>