---
layout: default
title: Ale's Bio
permalink: alebio
---
<div class="bio"> 
    <img src="\the-voyagers-project\assets\images\fotosotelo.jpg" 
        alt="Just a photo of Ale" class="photo">
</div>   

<div class="bio"> 
    <p>My name is <b>María Alejandra Sotelo</b>, I'm from Buenos Aires, Argentina.</p>
    <p>I graduated as a professor of history at the <i>Faculty of Philosophy and Letters</i> of the <i>Universidad de Buenos Aires</i> 
        and I'm interested in public history fields and digital humanities.</p>
<h1>My interests</h1>
    <ul>
        <li>Public history</li>
        <li>Digital humanities</li>
        <li>Spain history</li>
    </ul>

</div>

<div class="bio">
    
<h1>Academic Activity</h1>
    <p> I form part of investigation gruops in PREMUC</p>
</div>

<div class="contact">
    <h2>Contact</h2>
        <a href="mailto:sotelo.historia@gmail.com">
            <img src="\the-voyagers-project\assets\images\mail.png"
            class="icon"
            alt="sotelo.historia@gmail.com"
            style="width:50px;height:50px;">
        </a>
  </div>