---
layout: default
title: David's bio
permalink: davidbio
---

<div class="bio">
    <img src="\the-voyagers-project\assets\images\davidphoto.jpg" 
        alt="Just a photo of David" class="photo">

    <p>
        <b>David Merino Recalde</b> (Spain) has a M.A. in Digital Humanities and a B.A. in Dramatic Art.
        Currently, he is studying a M.A. in Literary and Theatre Research at the UNED.
    </p>
    <p>
        He is interested in exploring the relations between <i>Theatre Studies</i> and <i>Digital Humanities</i>,
        and his <b>areas of research</b> are:
        <ul>
            <li>Spanish Golden Age "minor" theater</li>
            <li>Stylometry and Authorship Attribution</li>
            <li>Network analysis</li>
        </ul>   
    </p>
</div>
<div class="contact">
    <h2>Contact</h2>
        <a href="mailto:davidmrvg@gmail.com">
            <img src="\the-voyagers-project\assets\images\mail.png"
            class="icon"
            alt="davidmrvg@gmail.com"
            style="width:50px;height:50px;">
        </a>
        <a href="https://twitter.com/dxvidmr">
            <img src="\the-voyagers-project\assets\images\twitter.png"
            class="icon"
            alt="@dxvidmr"
            style="width:50px;height:50px;">
        </a>
</div>
