---
layout: page
title: Editorial Principles
permalink: editorial_principles
---

<div class="warning">
    <h2><b>Warning</b>: As the work progresses, we will be changing certain editorial decisions, adding new elements and 
    improving our TEI edition. But for now, this is what we have decided to apply.</h2>
</div>

<div class="lastupdate">
    <p><i>Last update</i>: 2020-12-07</p>
</div>

<div class="editorial">

    <p>
        For this <i>Relación de un Viaje al Río de la Plata</i> (Acarete du Biscay) minimal edition, 
        we had to make some editorial decisions to create consistent and rigorous work. Starting
        from two digitized facsimile versions of the text, an English (1698) and a Spanish (1867) 
        editions, we use TEI to mark up only the <i>Descripcion de Buenos Aires</i> and generate the digital 
        editions that you can explore and enjoy <a href="\the-voyagers-project\">here</a>.
    </p>

    <p>
        In both versions, we decided always to preserve the facsimile editorial principles and try to find 
        the way to transform that into a faithful digital edition, so here there are some of our decisions for 
        keeping the texts in their original forms:
        
        <ul>
            <li>
                To mark up the original pagination, headers and line breaks, you will see that they look the same if you go to
                the facsimile edition.
            </li>
   
            <li>
                To mark up places using the <code>name</code> element and 
                its corresponding attribute (<code>type="name"</code>, <code>@type="placeGeog"</code>).
                Furthermore, we connected names with gazetteers like <a href="http://www.hgis-indias.net/">hgis-indias</a> 
                and other linked data projects like <a href="https://www.wikidata.org/">Wikidata</a>.
            </li>
        
            <li>
                To keep archaic forms marking them up with the corresponding element (<code>orig</code>). For example, <i>á</i> in the 
                Spanish edition, which normalized it would be <i>a</i>; words written with "<i>s</i>" instead of an "<i>x</i>"
                like <i>estranjero</i>, <i>escelente</i>, <i>escepcion</i>, and <i>estremos</i>;
                or all the "<i>ſ</i>" instead of "<i>s</i>" in words like <i>ſsay</i>, <i>uſually</i>...
            </li>
        
            <li>
                Not to correct the errors and misspellings, so we kept them marking them with the <code>sic</code> element. 
                For example, <i>riochuelo</i> in both versions (in this case, we think that since the Spanish version is a 
                translation of the English, the translator copied the error).
            </li>
            
            <li>
                To mark up the abbreviations with the <code>abbr</code> element, and in the cases we know the abbreviated word, mark 
                it up with the <code>expan</code> element using <code>choice</code>. For example, in the Spanish text, 
                <i>N. del T.</i> stands for <i>Nota del Traductor</i>.
            </li>
            
            <li>
                In the Spanish version, to mark up the original footnotes with the corresponding elements and attributes.
            </li>
            
            <li>
                In the English version: 
                <ul> 
                    <li>
                        to mark up the names of places and othe words written in Spanish 
                        with the <code>foreign</code> element and the <code>@xml:lang</code> attribute to indicate the language.
                    </li>
                    <li>
                        to mark up the gathering and the chatch words with the <code>tw</code> element and his corresponding attribute.
                    </li>
                </ul>
            </li>
        
            
        </ul>

    </p>

</div>
