---
layout: tei
title: English edition
document: EN_version.xml
permalink: endescription
---
<div>
  <p>
    Digital minimal edition of <i>Description of Buenos Aires</i>,
    in <i>An account of a voyage up the River de la Plata</i> by Mons. Acarete du Biscay:
  </p>
  
  <p>
    <i>LONDON</i>: Printed for <i>Samuel Buckley</i>,
    at the <i>Dolphin</i> over againſt St. <i>Dunftans</i> Church in <i>FleetStreet</i>.
    1698.
  </p>

  <p>
    <h3>Downloads</h3>
    <ul>
      <li><a href="./assets/pdf/EN_description.pdf" download>PDF facsimile</a></li>
      <li><a href="./assets/tei/EN_version.xml" download>XML-TEI</a></li>
    </ul>
  </p>

  <p>
    <h3>References in the text:</h3>
    <ul>
      <li><span class="bold">Bold</span>: Places</li>
      <li><span class="blue">Blue</span>: Geographic Places</li>
      <li><span class="green">Green</span>:  Original words in the text</li>
      <li><span class="red">Red underline</span>: sic (text reproduced although apparently incorrect)</li>
    </ul>
  </p>

</div>

<br>