---
layout: tei
title: Edición en español
document: ES_version.xml
permalink: esdescripcion
---
<div>
  <p>
    A continuación se presenta la edición digital mínima de la <i>Descripción de Buenos Aires</i>,
    según la versión de 1867 editada por la Revista de Buenos Aires:
  </p>
  
  <p>
    <i>Relacion de los viajes de Monsieur Asearate du Biscay al Rio
    de la Plata, y desde aquí por tierra hasta el Perú con
    observaciones sobre estos países</i> — Traducida del inglés al
    español para la REVISTA DE BUENOS AIRES, por el señor
    don DANIEL MAXWELL.
  </p>

  <p>
    <h3>Descargas</h3>
    <ul>
      <li><a href="./assets/pdf/ES_descripcion.pdf" download>Facsímil en PDF</a></li>
      <li><a href="./assets/tei/ES_version.xml" download>XML-TEI</a></li>
    </ul>
  </p>

</div>

<p>
  <h3>Referencias en el texto:</h3>
    <ul>
      <li><span class="bold">Negrita</span>: Lugares</li>
      <li><span class="blue">Azul</span>: Lugares geográficos</li>
      <li><span class="green">Verde</span>: Palabras originales del texto, sin normalizar</li>
      <li><span class="red">Subrayado rojo</span>: sic (reproducción textual de errores)</li>
    </ul>
</p>

<br>