---
layout: default
permalink: /
---
<div class="hometitle" style="text-align: center;">
  <h2>Welcome to our digital publishing with minimal computing project!</h2>
</div>

<div class="home-grid1">
  <a href="\the-voyagers-project\esdescripcion">
    <img src="\the-voyagers-project\assets\images\portada_ES.jpg"
    width="150px"
    title="click here"
    alt="Relación de un viaje al Rio de la Plata (1867)">
  </a>

  <p>
    Edición mínima de la <i>Descripción de Buenos Aires</i>,
    en <i>Relación de un viaje al Rio de la Plata</i> (1867)
    de Acarete du Biscay.
  </p>
</div>

<div class="home-grid2">
  <p>
    Minimal edition of <i>Description of Buenos Aires</i>,
    in <i>An account of a voyage up the River de la Plata</i> (1698)
    in Acarete du Biscay.
  </p>

 <a href="\the-voyagers-project\endescription">
    <img src="\the-voyagers-project\assets\images\portada_EN.jpg"
    style="float: right;"
    width="150px"
    title="click here"
    alt="Cover of An account of a voyage up the River de la Plata (1698) ">
  </a>

</div>