---
layout: default 
title: Natasha's bio
permalink: natashabio
---
<div class="bio"> 
    <img src="\the-voyagers-project\assets\images\natashapic.jpg" 
        alt="Just a photo of Natasha" class="photo">
    
    <p> 
        Hi! my name is Natasha Wiscovitch. I'm currently a student at the University of Maryland studying international relations. 
        I'm from Puerto Rico, currently living in the mainland.
    </p>    
    <p>
        <h1>My interests are:</h1>
        <ul>
            <li>Latin American Studies</li>
            <li>Studying other languages and cultures</li>
            <li>Painting</li>
        </ul>
    </p>
</div>

<div class="contact">
    <h2>Contact</h2>
        <a href="mailto:natashawisovitch9@gmail.com">
            <img src="\the-voyagers-project\assets\images\mail.png"
            class="icon"
            alt="natashawisovitch9@gmail.com"
            style="width:50px;height:50px;">
        </a>
  </div>