---
layout: page
title: Team Charter
permalink: teamcharter
---
<div class=titles>

<p><i>Updated / Última actualización:</i> 2020-11-02</p>

<h2>Group name / Nombre del Equipo:</h2> <p id="teamname">The Voyagers!</p>

<h3>Roles / Roles</h3>
<p> <ul>
        <li>Technical leader / Líder técnicx : David Merino Recalde</li>
        <li>Submitter / Encargadx de envíos: Natasha Wiscovitch </li>
    </ul>
</p>

<h3>Team Members / Integrantes del equipo</h3>
<p> 
    <ul>
        <li>David Merino Recalde, HE/HIM/HIS - ÉL, SP</li>
        <li>María Alejandra Sotelo, SHE/HER/HERS - ELLA, ARG</li>
        <li>Natasha Wiscovitch, SHE/HER/HERS - ELLA, US</li>
    </ul>
</p>

<h3>Goals / Objetivos</h3>
<p><ul>
        <li>Introduce ourselves to the world of digital humanities</li>
        <li>Learn about digital editing and publishing</li>
        <li>Learn to work collaboratively, remotely, and in different languages with new tools to be able to create a
            project that reflects the intentions of each one but is also a collective creation</li>
        <li>Develop minimal computing skills for editing and publishing texts</li>
        <li>Learn about creating, publishing, and maintaining a website</li>
        <li>Upgrade the skills related to our degree knowledge</li>
        <li>Develop a collaborative space, open to future changes</li>
        <li>Learn from my partner's personal experiences</li>
        <li>As a group, learn to work together with these new tools. Personally, I hope to learn strategies that 
            I can use in my current workspace to develop new projects (Alejandra)</li>
    </ul>
</p>

<h3>Core Values / Fundamentos</h3>

<p>There are three members of our group. We come from different formations and countries. 
    We think that this is a “rose” because it allows us to develop a collaborative project.
    It is also a “thorn” because it is a challenge due we speak different languages, and we are in three different time zones. 
    However, we believe that we will manage to overcome the thorns and keep the roses with the tools we handle and the willingness.
</p>

<p>
We hope to learn to work as a team with the course proposals and achieve our own goals. 
To do this, we have settled on an efficient way of teamwork that we will develop in the "Team management" below, 
and that will be open to constant review and update.
</p>

<p>
We have chosen English as the primary language to communicate since the work must be carried out in English,
but we have already verified that we can jump between English and Spanish if necessary since the three of us speak both languages. 
</p>

<p>
Understanding what and how our colleagues think and be respectful of them, their ideas, and how they express them is the most important
thing for us! We want to create a friendly teamwork environment, attending to our differences and diversity. 
</p>

<h3>Team management / Gestión del equipo</h3>
<p>Our team will use Slack to communicate. Our team will meet virtually once a week. In this weekly meeting, 
we will always start by asking others how they are and how they are doing with the work they are developing. 
However, we will continue to communicate through various communication tools. If necessary, we will reevaluate and meet more often. 
Since we live in different time zones, we will use Doodle to decide when we will meet. 
We will use Google Meet for our meetings because it allows us to screen share.
</p>

<p>We will try to distribute the tasks as equitably as possible, always considering the time each one has available, 
always being honest about what we can take responsibility for. If we take responsibility
for something and feel like we will not make it to date, ask for help! We are flexible to changes. 
We created an agenda in a Google Document where we can make a task list, distribute responsibilities, 
take a look at what we have already done, and what we have to do.
</p>

<p>In decision-making processing, we will hold a vote if there is more than one option. 
We have in mind that our ideas are always open to debate, alteration, and possibly even rejection. 
If a conflict arises, each team member will allow time to express their thoughts, feelings, and points of view. 
If need be, a mediator will be asked to help. We will always consider each other's needs and allow us to disagree.
</p>

<h3>Ethos / Ethos</h3>
<p>
    <ul>
<li>Don’t be afraid to ask for help!</li>
<li>Always be honest with ourselves and with the other teammates</li>
<li>Practices <i>gitnastic</i> for being flexible with each other! </li>
<li>Allow us to disagree</li>
    </ul>   
</p>
</div>