---
layout: page
title: Team Members
permalink: team
---
<div class="team">
    <p>
        Click on our names to see more about us.
    </p>
    <p>
        <ul>
            <li><a href="\the-voyagers-project\alebio">María Alejandra Sotelo<a></a></li>
            <li><a href="\the-voyagers-project\natashabio">Natasha Wiscovitch<a></a></li>
            <li><a href="\the-voyagers-project\davidbio">David Merino Recalde<a></a></li>
        </ul>
    </p>
</div>