---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

@import "ed";
@import "syntax";
@import "CETEIcean.css";


/* GENERAL */

p {text-align: justify;}

ul {text-align: justify;}



/* HOME PAGE */

.home-grid1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.home-grid2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  align-items: center;
}


/* BIOS - TEAM MEMBERS */

.bio {

  img {
    float: right;
    max-width: 30%;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 20px;
  } 

  h1 {font-size: x-large; font-style: bold;}
}

.contact {float: right;
text-align: right;}

.icon {float: right;}

#cosasale {
  h1 {font-size: large; font-style: bold;}
  p {color: black; ; font-size: medium;}
}

#academic {
  h1 {font-size: large; font-style: bold;}
  p {color: black; ; font-size: medium;}
}


/* TEAM CHARTER */ 

#teamname {
  color: #841212;
  font-size: 35px;
}

.titles {
  h2 {font-size: 25px; font-style: bold;}
  h3 {font-size: 20px; font-style: italic;}
}

/* EDITORIAL PRINCIPLES */

.warning {
   h2 {color: #841212; font-style: italic; font-size: large; font-style: bold; text-align: justify;}
   p {color: black; font-style: normal;}
}


// EDITONS 

.bold {font-weight: bold;}

.blue { color: rgb(99, 150, 192)}

.green {color: rgb(61, 129, 61)}

.red {
  text-decoration-line: underline; 
  text-decoration-style: wavy;
  text-decoration-color: rgb(216, 63, 63);
}

// tei in p

tei-head {text-align: center;}

tei-foreign {font-style: italic;}

tei-name[type=place] {
  font-weight: bold;
}

tei-name[type=placeGeog] {
  color: rgb(99, 150, 192);
}

tei-orig {color: rgb(61, 129, 61)}

tei-sic {text-decoration-line: underline;     text-decoration-style: wavy;
  text-decoration-color: rgb(216, 63, 63);}


// tei-fw 

tei-fw {

  display: block;
  text-align: center;
  font-weight: bold;
}

#npage {display: none;}

#catch {
  text-align: center;
  font-weight: normal;
}

#gathering {
  display: none;
  font-weight: normal;
  }

//tei-pb

tei-pb {
  border-top: 2px solid #841212;
  display: block;
  width: 100%;
  text-align: right;
  color: gray;
  margin: 2em 0 2em 0;
  font-size: 14pt;
}

tei-pb:before {
content: "[p. " attr(n) "]";
} 

// tei-note

tei-note {
  display: block;
  border-top: .5px solid gray;
  width: 550px;
  font-size: 85%;
  text-align: justify;
}


